<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">>
<div th:fragment="fragment-sidebar">
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">강의실</div>
                        <a class="nav-link" href="lecture">
                            <div class="sb-nav-link-icon"><i class="fas fa-school"></i></div>
                            강의실 현황
                        </a>
                        <div class="sb-sidenav-menu-heading">숙소</div>
                        <a class="nav-link" href="accommodation">
                            <div class="sb-nav-link-icon"><i class="fas fa-building-user"></i></div>
                            숙소 현황
                        </a>
                        <div class="sb-sidenav-menu-heading">달력</div>
                        <a class="nav-link" href="calendar">
                            <div class="sb-nav-link-icon"><i class="fas fa-calendar-days"></i></div>
                            달력
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main layout:fragment="content">
                <!-- 여기가 각 페이지별로 대체됨 -->
            </main>
        </div>
    </div>
</div>